body {
    color: aqua;
    background-color: cadetblue;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#header {
    text-align: center;
}

h1 {
    margin: 0;
}

#bio, #Educa{
    color: rgb(120, 122, 242);
    margin: 1rem;
    padding: 2mm;
    border-style: solid;
    border-color: white;
}

main {
    width: 50rem;
    height: 100vh;
    margin: auto;
    background-color:  #262626;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 0px 3rem #262626; 
}
