body {
    color: aqua;
    background-color: black;
    width: 100vw;
    height: 100vh;
    outline: 0.2rem solid red;
    margin: 0;
}

h1 {
    margin: 0;
}

#bio {
    color: brown;
    outline: 0.1rem solid cyan;
}

main {
    width: 30rem;
    margin: auto;
}